#main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#reset {

}

h2 {
    display: flex;
}

#square {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
}

.squares {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    content: " ";
}

.squares:hover {
    border-color: red;
}

.squares.x::before {
    content: 'x';
}

.squares.o:before {
    content: 'o';
}